
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <%= image_tag 'chewy.jpg', class: 'img-fluid, img-responsive' %>
      <div class="carousel-caption d-none d-md-block">
        <h3>Explore our assortnment of goodies</h3>
      </div> 
    </div>

    <div class="carousel-item">
      <%= image_tag 'cupcakes.jpg', class: 'img-fluid, img-responsive' %>
      <div class="carousel-caption d-none d-md-block">
        <h3>Just one bite</h3>
      </div>
    </div>

    <div class="carousel-item">
      <%= image_tag 'berrypie.jpg', class: 'img-fluid, img-responsive' %>
      <div class="carousel-caption d-none d-md-block">
        <h3>Treat yourself to a slice of pie</h3>
      </div>  
    </div>

    <div class="carousel-item">
      <%= image_tag 'flower4.jpg', class: 'img-fluid, img-responsive' %>
      <div class="carousel-caption d-none d-md-block">
        <h3>Stunning arrangements for any occasion</h3>
      </div>  
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<br />
<br />
<br />
<br />


<div class="col-10 offset-1">
  <div class="row justify-content-around">
    <div class="details col-md-5">
      <br/>
      <u><h2 align="center">Explore our bakery</h2></u>
      <br/>
      <p>Enjoy our assortment of delicious goodies. All of our treats are baked fresh daily using locally sourced ingredients.</p>
      <br/>
      <%= image_tag 'pastry.jpg', class: 'img-fluid' %>
      <br/>
      <br/>

    </div> 
    <div class="details col-md-5 ">
      <br/>
      <u><h2 align="center">Find your perfect flower</h2></u>
      <br/>
        <p>Enjoy our assortment of delicious treats. All of our treats are baked fresh daily using locally sourced ingredients.</p>
        <br/>
        <div align="center">
          <%= image_tag 'flower2.jpg', style: 'height:270px; width: 400px;', class: 'img-fluid' %>
        </div>
    </div> 
  </div>  
</div>  