<!DOCTYPE html>
<html>
  <head>
    <title>Quinn Pie</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, user-scalable=no">
  </head>

  <body>

  
  
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded ">


      <div align="center">
        <%= link_to image_tag('quinn2.png', style: 'height:180px; width: 180px; position: center;'), root_path, class: 'img-fluid, img-responsive offset-1' %>
      </div>  

      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

     
        
     

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav ml-auto mt-2 mt-md-0">
          <li class="nav-item">
            <%= link_to 'Home', root_path, class: 'link'%>
          </li>
          <li class="nav-item">
            <%= link_to 'Bakery', flavors_path, class: 'link'%>
          </li>
          <li class="nav-item">
           <%= link_to 'Flowers', '#', class: 'link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Gifts', '#', class: 'link' %>
          </li>  
          <li class="nav-item">
            <%= link_to 'Order Online', shop_path , class: 'link' %>
          </li>
        </ul>
      </div>
    </nav>

    <%= yield %>

  </div>

    <div id="footer">
      <div class="align">
        <div class="row">
          <div class="col-5 offset-1 social">
          <br />
          <%= link_to '#' do %> 
            <span class="fa fa-github-square fa-3x social-button"></span>
          <% end %>
          <%= link_to '#' do %>  
            <span class="fa fa-facebook-square fa-3x social-button"></span>
          <% end %>
          <%= link_to '#' do %>
            <span class="fa fa-instagram fa-3x social-button"></span> 
          <% end %>    
        </div>


          <div class="col-5 offset-1" style="font-size: 23px;">
            <%= link_to 'Contact Us', contact_form_new_path %>
            <br/>
            <%= link_to 'Order Online', '#' %>
          </div>
        </div>
      </div>
    </div>
  
  </body>
</html>
