<!DOCTYPE html>
<html>
  <head>
    <title>Quinn Pie</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="row">
      <div class="col-5">
      <div class="box">
        <h2 style="border: 2px; border-style:solid; border-color:black; padding: 10px; font-size: 23px;">Order Online</h2>
      </div>
    </div>
    <div class="col-7">
      <div>
        <%= link_to 'Quinn Pie', root_path,  class: "navbar-brand"%>
      </div>
    </div>
    </div>  
     <br />
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

     
        
     

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav ml-auto mt-2 mt-md-0 nav-fill w-100">
          <li class="nav-item">
            <%= link_to 'Home', root_path, class: 'link'%>
          </li>
          <li class="nav-item">
            <%= link_to 'Flavors', '#', class: 'link'%>
          </li>
          <li class="nav-item">
           <%= link_to 'Shop', shop_path, class: 'link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Contact', '#', class: 'link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'About Us', '#', class: 'link' %>
          </li>
        </ul>
      </div>
    </nav>

    <%= yield %>

  </div>
    <div id="footer">
      <div class="align">
        <div class="row">


        <div class="col-12 col-sm">
      </div>
    </div>
  </body>
</html>
